.DS_Store
contrastive_vqa-rad/__pycache__/data.cpython-312.pyc
contrastive_vqa-rad/venv/
contrastive_vqa-rad/__pycache__
competition_and_demo/
contrastive_vqa-rad/__pycache__/vqa_data.cpython-312.pyc
